# List comprehensions

Create list with for loop

In [17]:
numbers = range(1,100)

In [18]:
big_numbers = []

In [19]:
for number in numbers:
    big_numbers.append(number**2)

In [20]:
big_numbers

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

Simple list comprehension

In [28]:


big_numbers_lc = [number**2 for number in numbers if number < 5]

In [29]:
print(big_numbers_lc)

[1, 4, 9, 16]

Conditionals

In [ ]:
big_numbers = []

for number in numbers:
    if number % 2 == 0:
        big_numbers.append(number**2)

print(big_numbers)

In [ ]:
big_numbers_lc = [number**2 for number in numbers if number % 2 ==0]

print(big_numbers_lc)

Multiple loops

In [ ]:
list_of_lists = [["Ironhack", "Ubiqum"], ["Coding", "Data", "UX"], ["9 weeks", "12 weeks"]]

In [ ]:
all_elements = []

for i in list_of_lists:
    for j in i:
        all_elements.append(j)
        
all_elements

In [ ]:
[number**2 for number in numbers]

In [ ]:
[i for i in list_of_lists]

In [ ]:
a = [j for i in list_of_lists for j in i]

In [ ]:
a

In [ ]:
# ['Ironhack', 'Ubiqum', 'Coding', 'Data', 'UX', '9 weeks', '12 weeks']

In [ ]:
schools = ["Ironhack", "Ubiqum"]
courses = ["Coding", "Data", "UX"]
lengths = ["9 weeks", "12 weeks"]

In [ ]:
iron_offer = []

for school in schools:
    if school != "Ubiqum":
        for course in courses:
            for length in lengths:
                iron_offer.append(school + " " + course + " " + length)

In [ ]:
iron_offer

In [ ]:
[school + " " + course + " " + length for school in schools if school != "Ubiqum" for course in courses for length in lengths]

#### Checking run time

In [ ]:
import timeit

comprehension_code = """
big_fast_list = [i**3 for i in range(1, 100000)]
"""

elapsed_time_1 = timeit.timeit(comprehension_code, number=100)/100
print(elapsed_time_1)

In [ ]:
forloop_code = """
big_slow_list = []
for i in range(1, 100000):
    big_slow_list.append(i**3)
"""

elapsed_time_2 = timeit.timeit(forloop_code, number=100)/100
print(elapsed_time_2)

In [ ]:
# difference of time in percentage
(elapsed_time_2 - elapsed_time_1) / elapsed_time_1 * 100