# Pandas: grouping & joining

In [85]:
import pandas as pd
import numpy as np

In [86]:
ls

Lab_Pandas_Grouping_Data_Cleaning_Vehicles.ipynb
vehicles.csv

In [87]:
cars = pd.read_csv("./vehicles.csv")

In [88]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [7]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Make                     35952 non-null  object
 1   Model                    35952 non-null  object
 2   Year                     35952 non-null  int64
 3   Engine Displacement      35952 non-null  float64
 4   Cylinders                35952 non-null  float64
 5   Transmission             35952 non-null  object
 6   Drivetrain               35952 non-null  object
 7   Vehicle Class            35952 non-null  object
 8   Fuel Type                35952 non-null  object
 9   Fuel Barrels/Year        35952 non-null  float64
 10  City MPG                 35952 non-null  int64
 11  Highway MPG              35952 non-null  int64
 12  Combined MPG             35952 non-null  int64
 13  CO2 Emission Grams/Mile  35952 non-null  float64
 14  Fuel Cost/Year           35952 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 4.1+ MB

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

In [8]:
cars.shape

(35952, 15)

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

- Convert CO2 Emissions from Grams/Mile to Grams/Km

- Create a binary column that solely indicates if the transmission of a car is automatic or manual. Use `pandas.Series.str.startswith` and .

- convert MPG columns to km_per_liter

In [22]:
cars['Make'].value_counts()

Chevrolet              3643
Ford                   2946
Dodge                  2360
GMC                    2347
Toyota                 1836
                       ...
ASC                       1
London Taxi               1
Mahindra                  1
Qvale                     1
London Coach Co Inc       1
Name: Make, Length: 124, dtype: int64

In [23]:
list(cars['Make'].unique())

['AMG',
 'ASC',
 'Acura',
 'Alfa Romeo',
 'American Motors Corporation',
 'Aston Martin',
 'Audi',
 'Aurora Cars Ltd',
 'Autokraft Limited',
 'BMW',
 'Bentley',
 'Bertone',
 'Bill Dovell Motor Car Company',
 'Bitter Gmbh and Co. Kg',
 'Bugatti',
 'Buick',
 'CCC Engineering',
 'CX Automotive',
 'Cadillac',
 'Chevrolet',
 'Chrysler',
 'Consulier Industries Inc',
 'Dabryan Coach Builders Inc',
 'Dacia',
 'Daewoo',
 'Daihatsu',
 'Dodge',
 'E. P. Dutton, Inc.',
 'Eagle',
 'Environmental Rsch and Devp Corp',
 'Evans Automobiles',
 'Excalibur Autos',
 'Federal Coach',
 'Ferrari',
 'Fiat',
 'Fisker',
 'Ford',
 'GMC',
 'General Motors',
 'Genesis',
 'Geo',
 'Goldacre',
 'Grumman',
 'Honda',
 'Hummer',
 'Hyundai',
 'Import Foreign Auto Sales Inc',
 'Import Trade Services',
 'Infiniti',
 'Isis Imports Ltd',
 'Isuzu',
 'J.K. Motors',
 'JBA Motorcars, Inc.',
 'Jaguar',
 'Jeep',
 'Kia',
 'Laforza Automobile Inc',
 'Lambda Control Systems',
 'Lamborghini',
 'Land Rover',
 'Lexus',
 'Lincoln',
 'London Coach Co Inc',
 'London Taxi',
 'Lotus',
 'MINI',
 'Mahindra',
 'Maserati',
 'Maybach',
 'Mazda',
 'McLaren Automotive',
 'Mcevoy Motors',
 'Mercedes-Benz',
 'Mercury',
 'Merkur',
 'Mitsubishi',
 'Mobility Ventures LLC',
 'Morgan',
 'Nissan',
 'Oldsmobile',
 'PAS, Inc',
 'Pagani',
 'Panos',
 'Panoz Auto-Development',
 'Panther Car Company Limited',
 'Peugeot',
 'Pininfarina',
 'Plymouth',
 'Pontiac',
 'Porsche',
 'Quantum Technologies',
 'Qvale',
 'Ram',
 'Red Shift Ltd.',
 'Renault',
 'Rolls-Royce',
 'Roush Performance',
 'Ruf Automobile Gmbh',
 'S and S Coach Company  E.p. Dutton',
 'SRT',
 'Saab',
 'Saleen',
 'Saleen Performance',
 'Saturn',
 'Scion',
 'Shelby',
 'Spyker',
 'Sterling',
 'Subaru',
 'Superior Coaches Div E.p. Dutton',
 'Suzuki',
 'TVR Engineering Ltd',
 'Tecstar, LP',
 'Texas Coach Company',
 'Toyota',
 'VPG',
 'Vector',
 'Vixen Motor Company',
 'Volga Associated Automobile',
 'Volkswagen',
 'Volvo',
 'Wallace Environmental',
 'Yugo',
 'smart']

Let'show to do the first replacement with:

* for loop
* **map( , )** and a lambda function
* np.where(condition, if condition True,if condition False)

In [24]:
cars['Make'].unique()

array(['AMG', 'ASC', 'Acura', 'Alfa Romeo', 'American Motors Corporation',
       'Aston Martin', 'Audi', 'Aurora Cars Ltd', 'Autokraft Limited',
       'BMW', 'Bentley', 'Bertone', 'Bill Dovell Motor Car Company',
       'Bitter Gmbh and Co. Kg', 'Bugatti', 'Buick', 'CCC Engineering',
       'CX Automotive', 'Cadillac', 'Chevrolet', 'Chrysler',
       'Consulier Industries Inc', 'Dabryan Coach Builders Inc', 'Dacia',
       'Daewoo', 'Daihatsu', 'Dodge', 'E. P. Dutton, Inc.', 'Eagle',
       'Environmental Rsch and Devp Corp', 'Evans Automobiles',
       'Excalibur Autos', 'Federal Coach', 'Ferrari', 'Fiat', 'Fisker',
       'Ford', 'GMC', 'General Motors', 'Genesis', 'Geo', 'Goldacre',
       'Grumman', 'Honda', 'Hummer', 'Hyundai',
       'Import Foreign Auto Sales Inc', 'Import Trade Services',
       'Infiniti', 'Isis Imports Ltd', 'Isuzu', 'J.K. Motors',
       'JBA Motorcars, Inc.', 'Jaguar', 'Jeep', 'Kia',
       'Laforza Automobile Inc', 'Lambda Control Systems', 'Lamborghini',
       'Land Rover', 'Lexus', 'Lincoln', 'London Coach Co Inc',
       'London Taxi', 'Lotus', 'MINI', 'Mahindra', 'Maserati', 'Maybach',
       'Mazda', 'McLaren Automotive', 'Mcevoy Motors', 'Mercedes-Benz',
       'Mercury', 'Merkur', 'Mitsubishi', 'Mobility Ventures LLC',
       'Morgan', 'Nissan', 'Oldsmobile', 'PAS, Inc', 'Pagani', 'Panos',
       'Panoz Auto-Development', 'Panther Car Company Limited', 'Peugeot',
       'Pininfarina', 'Plymouth', 'Pontiac', 'Porsche',
       'Quantum Technologies', 'Qvale', 'Ram', 'Red Shift Ltd.',
       'Renault', 'Rolls-Royce', 'Roush Performance',
       'Ruf Automobile Gmbh', 'S and S Coach Company  E.p. Dutton', 'SRT',
       'Saab', 'Saleen', 'Saleen Performance', 'Saturn', 'Scion',
       'Shelby', 'Spyker', 'Sterling', 'Subaru',
       'Superior Coaches Div E.p. Dutton', 'Suzuki',
       'TVR Engineering Ltd', 'Tecstar, LP', 'Texas Coach Company',
       'Toyota', 'VPG', 'Vector', 'Vixen Motor Company',
       'Volga Associated Automobile', 'Volkswagen', 'Volvo',
       'Wallace Environmental', 'Yugo', 'smart'], dtype=object)

In [25]:
cars['Make'] = list(map(lambda x: "BMW" if ( "BMW" in x ) else x, cars['Make']))

In [26]:
cars['Make'] = list(map(lambda x: "AMG" if ( "AM" in x ) else x, cars['Make']))

In [27]:
cars['Make'] = list(map(lambda x: "ASC" if ( "ASC " in x ) else x, cars['Make']))

In [28]:
cars['Make'] = list(map(lambda x: "Grumman" if ( "Grumman " in x ) else x, cars['Make']))

In [29]:
cars['Make'] = list(map(lambda x: "PAS, Inc" if ( "PAS " in x ) else x, cars['Make']))

In [30]:
cars['Make'].value_counts()

Chevrolet              3643
Ford                   2946
Dodge                  2360
GMC                    2347
Toyota                 1836
                       ...
ASC                       1
London Taxi               1
Mahindra                  1
Qvale                     1
London Coach Co Inc       1
Name: Make, Length: 124, dtype: int64

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Grams/Mile * Mile/Km -> Grams/Mile * 1 Mile/1.60934Km

$$ \frac{Grams}{Mile} * \frac{Mile}{Km} $$

$$ \frac{Grams}{Mile} * \frac{1 Mile}{1.60934Km}  $$

In [31]:
list(cars.columns)

['Make',
 'Model',
 'Year',
 'Engine Displacement',
 'Cylinders',
 'Transmission',
 'Drivetrain',
 'Vehicle Class',
 'Fuel Type',
 'Fuel Barrels/Year',
 'City MPG',
 'Highway MPG',
 'Combined MPG',
 'CO2 Emission Grams/Mile',
 'Fuel Cost/Year',
 'CO2 Emission Grams/Km']

In [19]:
cars['CO2 Emission Grams/Km'] = list(map(lambda x: x / 1.60934  ,cars['CO2 Emission Grams/Mile']))

In [20]:
list(cars.columns)

['Make',
 'Model',
 'Year',
 'Engine Displacement',
 'Cylinders',
 'Transmission',
 'Drivetrain',
 'Vehicle Class',
 'Fuel Type',
 'Fuel Barrels/Year',
 'City MPG',
 'Highway MPG',
 'Combined MPG',
 'CO2 Emission Grams/Mile',
 'Fuel Cost/Year',
 'CO2 Emission Grams/Km']

In [32]:
cars = cars.drop(columns="CO2 Emission Grams/Mile")
#cars.drop(columns="CO2 Emission Grams/Mile", inplace=True)

In [33]:
list(cars.columns)

['Make',
 'Model',
 'Year',
 'Engine Displacement',
 'Cylinders',
 'Transmission',
 'Drivetrain',
 'Vehicle Class',
 'Fuel Type',
 'Fuel Barrels/Year',
 'City MPG',
 'Highway MPG',
 'Combined MPG',
 'Fuel Cost/Year',
 'CO2 Emission Grams/Km']

Replacing the column `Transmission` with either Transmission or Manual

In [34]:
cars['Transmission'].head()

0    Automatic 3-spd
1    Automatic 3-spd
2    Automatic 3-spd
3    Automatic 3-spd
4    Automatic 4-spd
Name: Transmission, dtype: object

In [35]:
cars['Transmission'].unique()

array(['Automatic 3-spd', 'Automatic 4-spd', 'Manual 5-spd',
       'Automatic (S5)', 'Manual 6-spd', 'Automatic 5-spd', 'Auto(AM8)',
       'Auto(AM-S8)', 'Auto(AV-S7)', 'Automatic (S6)', 'Automatic (S9)',
       'Automatic (S4)', 'Auto(AM-S9)', 'Automatic (S7)', 'Auto(AM7)',
       'Auto(AM-S7)', 'Auto(AM6)', 'Automatic 6-spd', 'Manual 4-spd',
       'Automatic (S8)', 'Manual(M7)', 'Auto(AM-S6)',
       'Automatic (variable gear ratios)', 'Automatic (AV)',
       'Auto(AV-S8)', 'Automatic (AM6)', 'Automatic 8-spd', 'Auto(A1)',
       'Automatic (A1)', 'Automatic (A6)', 'Auto(AV-S6)', 'Manual 3-spd',
       'Manual 7-spd', 'Automatic 9-spd', 'Auto (AV)', 'Automatic 6spd',
       'Auto(L4)', 'Auto(L3)', 'Auto (AV-S6)', 'Auto (AV-S8)',
       'Automatic (AV-S6)', 'Automatic 7-spd', 'Manual 5 spd',
       'Auto(AM5)', 'Automatic (AM5)'], dtype=object)

In [36]:
cars['Transmission'] = list( map(lambda x: "Automatic" if ("Auto" in x) else "Manual",cars['Transmission']) )

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

In [37]:
list(cars.columns)

['Make',
 'Model',
 'Year',
 'Engine Displacement',
 'Cylinders',
 'Transmission',
 'Drivetrain',
 'Vehicle Class',
 'Fuel Type',
 'Fuel Barrels/Year',
 'City MPG',
 'Highway MPG',
 'Combined MPG',
 'Fuel Cost/Year',
 'CO2 Emission Grams/Km']

In [38]:
cars['City Km/Liter'] = list( map(lambda x: x * ( 1.60934 / 3.78541 ),cars['City MPG']) )

In [39]:
cars.drop(columns="City MPG", inplace=True)

In [40]:
cars['Highway Km/Liter'] = list( map(lambda x: x * ( 1.60934 / 3.78541 ),cars['Highway MPG']) )
cars.drop(columns="Highway MPG", inplace=True)

In [41]:
cars['Combined Km/Liter'] = list( map(lambda x: x * ( 1.60934 / 3.78541 ),cars['Combined MPG']) )
cars.drop(columns="Combined MPG", inplace=True)

### Gathering insights:

1) How many car makers are there? How many models? Which car maker has the most cars in the dataset?

2) When were these cars made?

3) How big is the engine of these cars?

4) What's the frequency of different transmissions, drivetrains and fuel types?

5) What's the car that consumes the least/most fuel?

How many makes

In [120]:
len(cars['Brand'].unique().tolist())

127

In [121]:
cars['Brand'].value_counts()

Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Brand, Length: 127, dtype: int64

How many models

In [45]:
#tolist() function return a list of the values

len(cars["Model"].unique().tolist())

3608

Which car Maker has more cars

In [48]:
make = cars['Make'].value_counts().index[0]
make

'Chevrolet'

In [136]:
cars.columns

Index(['Brand', 'Model', 'Year', 'Engine_cc', 'Cyl', 'Trans', 'Drivetrain',
       'Class', 'Fuel_Type', 'Barrels_per_year', 'City MPG', 'Highway MPG',
       'Combined MPG', 'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [118]:
cars.groupby('Make')['Model'].count()

Make
AMG                               4
ASC                               1
Acura                           302
Alfa Romeo                       41
American Motors Corporation      22
                               ...
Volkswagen                     1047
Volvo                           717
Wallace Environmental            32
Yugo                              8
smart                            20
Name: Model, Length: 124, dtype: int64

In [81]:
cars.groupby('Make').count()['Model']

Make
AMG                               4
ASC                               1
Acura                           302
Alfa Romeo                       41
American Motors Corporation      22
                               ...
Volkswagen                     1047
Volvo                           717
Wallace Environmental            32
Yugo                              8
smart                            20
Name: Model, Length: 124, dtype: int64

2) When the cars of the Make which has more cars were made?

In [69]:
cars[ cars['Make'] == "Chevrolet" ][['Make','Year']]

           Make  Year
4275  Chevrolet  1985
4276  Chevrolet  1985
4277  Chevrolet  1985
4278  Chevrolet  1985
4279  Chevrolet  1985
...         ...   ...
7913  Chevrolet  2013
7914  Chevrolet  2014
7915  Chevrolet  2015
7916  Chevrolet  2016
7917  Chevrolet  2017

[3643 rows x 2 columns]

 3) How big is the engine of these cars?

In [124]:
cars.groupby(['Brand'])["Engine_cc"].count().reset_index()

                           Brand  Engine_cc
0                     AM General          4
1               ASC Incorporated          1
2                          Acura        302
3                     Alfa Romeo         41
4    American Motors Corporation         22
..                           ...        ...
122                   Volkswagen       1047
123                        Volvo        717
124        Wallace Environmental         32
125                         Yugo          8
126                        smart         20

[127 rows x 2 columns]

In [141]:
cars.dtypes

Brand                       object
Model                       object
Year                         int64
Engine_cc                  float64
Cyl                        float64
Trans                       object
Drivetrain                  object
Class                       object
Fuel_Type                   object
Barrels_per_year           float64
City MPG                     int64
Highway MPG                  int64
Combined MPG                 int64
CO2 Emission Grams/Mile    float64
Fuel Cost/Year               int64
dtype: object

4) What's the frequency of different transmissions, drivetrains and fuel types?

In [152]:
cars['Trans'].value_counts()

Automatic 4-spd                     10585
Manual 5-spd                         7787
Automatic (S6)                       2631
Automatic 3-spd                      2597
Manual 6-spd                         2423
Automatic 5-spd                      2171
Automatic 6-spd                      1432
Manual 4-spd                         1306
Automatic (S8)                        960
Automatic (S5)                        822
Automatic (variable gear ratios)      675
Automatic 7-spd                       662
Automatic (S7)                        261
Auto(AM-S7)                           256
Automatic 8-spd                       243
Automatic (S4)                        229
Auto(AM7)                             157
Auto(AV-S6)                           145
Auto(AM6)                             110
Auto(AM-S6)                            92
Automatic 9-spd                        90
Manual 3-spd                           74
Manual 7-spd                           68
Auto(AV-S7)                            63
Auto(AV-S8)                            26
Automatic (S9)                         26
Auto(AM5)                              12
Automatic (AV-S6)                       9
Auto(AM-S8)                             6
Auto(AM8)                               5
Automatic (AV)                          4
Automatic (A6)                          4
Automatic (A1)                          3
Manual(M7)                              3
Auto (AV)                               2
Auto(L4)                                2
Auto(L3)                                2
Automatic (AM5)                         2
Auto(AM-S9)                             1
Automatic 6spd                          1
Auto (AV-S6)                            1
Auto (AV-S8)                            1
Auto(A1)                                1
Automatic (AM6)                         1
Manual 5 spd                            1
Name: Trans, dtype: int64

In [130]:
cars[ cars['Brand'] == "Chevrolet" ][['Make','Brand','Year','engine_cc])

SyntaxError: EOL while scanning string literal (<ipython-input-130-82df9dae9254>, line 1)

In [154]:
cars['Trans'].value_counts()

Automatic 4-spd                     10585
Manual 5-spd                         7787
Automatic (S6)                       2631
Automatic 3-spd                      2597
Manual 6-spd                         2423
Automatic 5-spd                      2171
Automatic 6-spd                      1432
Manual 4-spd                         1306
Automatic (S8)                        960
Automatic (S5)                        822
Automatic (variable gear ratios)      675
Automatic 7-spd                       662
Automatic (S7)                        261
Auto(AM-S7)                           256
Automatic 8-spd                       243
Automatic (S4)                        229
Auto(AM7)                             157
Auto(AV-S6)                           145
Auto(AM6)                             110
Auto(AM-S6)                            92
Automatic 9-spd                        90
Manual 3-spd                           74
Manual 7-spd                           68
Auto(AV-S7)                            63
Auto(AV-S8)                            26
Automatic (S9)                         26
Auto(AM5)                              12
Automatic (AV-S6)                       9
Auto(AM-S8)                             6
Auto(AM8)                               5
Automatic (AV)                          4
Automatic (A6)                          4
Automatic (A1)                          3
Manual(M7)                              3
Auto (AV)                               2
Auto(L4)                                2
Auto(L3)                                2
Automatic (AM5)                         2
Auto(AM-S9)                             1
Automatic 6spd                          1
Auto (AV-S6)                            1
Auto (AV-S8)                            1
Auto(A1)                                1
Automatic (AM6)                         1
Manual 5 spd                            1
Name: Trans, dtype: int64

In [120]:
cars.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'Fuel Cost/Year', 'CO2 Emission Grams/Km',
       'City Km/Liter', 'Highway Km/Liter', 'Combined Km/Liter'],
      dtype='object')

In [121]:
cars['Drivetrain'].value_counts()

Front-Wheel Drive             13044
Rear-Wheel Drive              12726
4-Wheel or All-Wheel Drive     6503
All-Wheel Drive                2039
4-Wheel Drive                  1058
2-Wheel Drive                   423
Part-time 4-Wheel Drive         158
2-Wheel Drive, Front              1
Name: Drivetrain, dtype: int64

In [122]:
cars['Fuel Type'].value_counts()

Regular                        23587
Premium                         9921
Gasoline or E85                 1195
Diesel                           911
Premium or E85                   121
Midgrade                          74
CNG                               60
Premium and Electricity           20
Gasoline or natural gas           20
Premium Gas or Electricity        17
Regular Gas and Electricity       16
Gasoline or propane                8
Regular Gas or Electricity         2
Name: Fuel Type, dtype: int64

Cars which consumes more or less at year.

Fuel Barrels/Year

In [167]:
cars['Barrels_per_year'].max()

47.08714285714285

5) What's the car that consumes the least/most fuel?

In [171]:
cars.groupby("Brand")[["Barrels_per_year"]].count().sort_values("Barrels_per_year",ascending=False)

                                    Barrels_per_year
Brand
Chevrolet                                       3643
Ford                                            2946
Dodge                                           2360
GMC                                             2347
Toyota                                          1836
...                                              ...
Excalibur Autos                                    1
S and S Coach Company  E.p. Dutton                 1
Environmental Rsch and Devp Corp                   1
E. P. Dutton, Inc.                                 1
Lambda Control Systems                             1

[127 rows x 1 columns]

In [163]:
cars.columns

Index(['Brand', 'Model', 'Year', 'Engine_cc', 'Cyl', 'Trans', 'Drivetrain',
       'Class', 'Fuel_Type', 'Barrels_per_year', 'City MPG', 'Highway MPG',
       'Combined MPG', 'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
20894,Lamborghini,Countach,1986,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20895,Lamborghini,Countach,1987,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20896,Lamborghini,Countach,1988,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20897,Lamborghini,Countach,1989,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20898,Lamborghini,Countach,1990,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800

In [33]:
cars[ cars['Fuel Barrels/Year'] == cars['Fuel Barrels/Year'].min()]

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
17395,Honda,Civic Natural Gas,2012,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.06,27,38,31,228.694355,1000
17396,Honda,Civic Natural Gas,2013,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.06,27,38,31,218.000000,1000
17397,Honda,Civic Natural Gas,2014,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.06,27,38,31,218.000000,1000
17398,Honda,Civic Natural Gas,2015,1.8,4.0,Automatic 5-spd,Front-Wheel Drive,Compact Cars,CNG,0.06,27,38,31,218.000000,1000

Drop the column "Combined MPG"

In [124]:
cars.drop(columns="Combined Km/Liter",inplace=True)

In [125]:
cars.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'Fuel Cost/Year', 'CO2 Emission Grams/Km',
       'City Km/Liter', 'Highway Km/Liter'],
      dtype='object')

In [126]:
# Change column names to these ones:
col_names = ["Brand", "Model", "Year", "Engine_cc", "Cyl", "Trans", "Drivetrain", "Class", "Fuel_type", "Barrels_per_year", "City_MPG", "Highway_MPG", "CO2_grams_per_km", "Fuel_cost_per_year"]

In [127]:
col_names = [ item.replace(" ","_") for item in cars.columns ]
cars.columns = col_names

In [90]:
conversion = {"Make": "Brand", "Model":"Model","Year": "Year", "Engine Displacement": "Engine_cc", 
 "Cylinders":"Cyl", "Transmission":"Trans", "Drivetrain": "Drivetrain", "Vehicle Class":"Class",
 "Fuel Type":"Fuel_Type", "Fuel Barrels/Year": "Barrels_per_year"}

In [91]:
cars.rename(columns=conversion, inplace = True)

In [92]:
cars.columns

Index(['Brand', 'Model', 'Year', 'Engine_cc', 'Cyl', 'Trans', 'Drivetrain',
       'Class', 'Fuel_Type', 'Barrels_per_year', 'City MPG', 'Highway MPG',
       'Combined MPG', 'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

What brand has the most cars?

In [96]:
#Chervorlet

cars["Brand"].value_counts()

Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Brand, Length: 127, dtype: int64

What brand has the worse CO2 Emissions on average?

Hint: use the function `sort_values()`

In [98]:
cars.sort_values("CO2 Emission Grams/Mile")

,Brand,Model,Year,Engine_cc,Cyl,Trans,Drivetrain,Class,Fuel_Type,Barrels_per_year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
3071,BMW,i3 REX,2016,0.6,2.0,Automatic (A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,37.000000,1050
3069,BMW,i3 REX,2014,0.6,2.0,Auto(A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,40.000000,1050
3070,BMW,i3 REX,2015,0.6,2.0,Automatic (A1),Rear-Wheel Drive,Subcompact Cars,Premium Gas or Electricity,1.563190,41,37,39,40.000000,1050
7916,Chevrolet,Volt,2016,1.5,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular Gas or Electricity,2.006844,43,42,42,51.000000,800
7917,Chevrolet,Volt,2017,1.5,4.0,Automatic (variable gear ratios),Front-Wheel Drive,Compact Cars,Regular Gas or Electricity,2.006844,43,42,42,51.000000,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20897,Lamborghini,Countach,1989,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20894,Lamborghini,Countach,1986,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20898,Lamborghini,Countach,1990,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20896,Lamborghini,Countach,1988,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800
20895,Lamborghini,Countach,1987,5.2,12.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,47.087143,6,10,7,1269.571429,5800

In [114]:
#AM Gerneral has the worst Emission

cars.groupby("Brand")[["CO2 Emission Grams/Mile"]].mean().sort_values("Brand",ascending=True)

                             CO2 Emission Grams/Mile
Brand
AM General                                611.358244
ASC Incorporated                          555.437500
Acura                                     422.585325
Alfa Romeo                                463.952115
American Motors Corporation               505.758823
...                                              ...
Volkswagen                                392.741721
Volvo                                     435.803755
Wallace Environmental                     657.990029
Yugo                                      356.068256
smart                                     247.030556

[127 rows x 1 columns]

In [66]:
#done

                             CO2_Emission_Grams/Km
Brand
AMG                                     379.881345
ASC                                     345.133719
Acura                                   262.583000
Alfa Romeo                              288.287195
American Motors Corporation             314.264744
...                                            ...
Volkswagen                              244.038998
Volvo                                   270.796572
Wallace Environmental                   408.857065
Yugo                                    221.251107
smart                                   153.498052

[122 rows x 1 columns]

                        CO2_Emission_Grams/Km
Brand
Fisker                             105.011992
smart                              153.498052
Fiat                               189.311494
Daihatsu                           192.742404
MINI                               194.935105
...                                       ...
Rolls-Royce                        475.397772
Dutton                             476.419879
Laforza Automobile Inc             502.012683
Bugatti                            542.497235
Vector                             651.919248

[122 rows x 1 columns]

                        CO2_Emission_Grams/Km
Brand
Vector                             651.919248
Bugatti                            542.497235
Laforza Automobile Inc             502.012683
Dutton                             476.419879
Rolls-Royce                        475.397772
...                                       ...
MINI                               194.935105
Daihatsu                           192.742404
Fiat                               189.311494
smart                              153.498052
Fisker                             105.011992

[122 rows x 1 columns]

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [133]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [134]:
cars['Decade'] = pd.cut(cars['Year'],bins=4,labels=['80s','90s','00s','10s'])

In [135]:
cars[['Year','Decade']]

       Year Decade
0      1984    80s
1      1984    80s
2      1985    80s
3      1985    80s
4      1987    80s
...     ...    ...
35947  2013    10s
35948  2014    10s
35949  2015    10s
35950  2016    10s
35951  2016    10s

[35952 rows x 2 columns]

In [136]:
cars.loc[:,['Year','Decade']]

       Year Decade
0      1984    80s
1      1984    80s
2      1985    80s
3      1985    80s
4      1987    80s
...     ...    ...
35947  2013    10s
35948  2014    10s
35949  2015    10s
35950  2016    10s
35951  2016    10s

[35952 rows x 2 columns]

In [137]:
cars["Year_range"]= pd.cut(cars["Year"], 
                             bins = [1980,1989,1999,2009,2019],
                             labels=["80s", "90s", "00s", "10s"])

cars.loc[:,['Year','Decade','Year_range']]

       Year Decade Year_range
0      1984    80s        80s
1      1984    80s        80s
2      1985    80s        80s
3      1985    80s        80s
4      1987    80s        80s
...     ...    ...        ...
35947  2013    10s        10s
35948  2014    10s        10s
35949  2015    10s        10s
35950  2016    10s        10s
35951  2016    10s        10s

[35952 rows x 3 columns]

### Did cars consume more gas in the eighties?

In [138]:
cars.columns

Index(['Brand', 'Model', 'Year', 'Engine_Displacement', 'Cyl', 'Trans',
       'Drivetrain', 'Vehicle_Class', 'Fuel_Type', 'Fuel_Barrels/Year',
       'Fuel_Cost/Year', 'CO2_Emission_Grams/Km', 'City_Km/Liter',
       'Highway_Km/Liter', 'Decade', 'Year_range'],
      dtype='object')

            City_Km/Liter
Year_range
80s              7.366539
90s              7.207911
00s              7.156940
10s              8.310167

Which brands are more environment friendly?

                                    CO2_Emission_Grams/Km
Decade Brand
80s    AMG                                     379.881345
       ASC                                     345.133719
       Acura                                   268.497682
       Alfa Romeo                              286.715163
       American Motors Corporation             314.264744
...                                                   ...
10s    Volkswagen                              219.440984
       Volvo                                   250.429309
       Wallace Environmental                          NaN
       Yugo                                           NaN
       smart                                   153.509751

[488 rows x 1 columns]

Does the drivetrain affect fuel consumption?

In [139]:
# We can also sort by 2 columns 
# (the second column only matters in case there's a tie sorting by the first one)
cars.groupby("Drivetrain")[["Highway_Km/Liter","City_Km/Liter"]].mean().sort_values("City_Km/Liter",ascending=False)

                            Highway_Km/Liter  City_Km/Liter
Drivetrain
2-Wheel Drive, Front               14.029714      10.628571
Front-Wheel Drive                  12.166210       9.002214
All-Wheel Drive                    10.882531       7.785598
4-Wheel Drive                       9.668584       7.190861
2-Wheel Drive                       8.222444       6.642480
Rear-Wheel Drive                    9.023946       6.556574
4-Wheel or All-Wheel Drive          8.347130       6.392049
Part-time 4-Wheel Drive             8.115385       6.215696

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [140]:
cars.columns

Index(['Brand', 'Model', 'Year', 'Engine_Displacement', 'Cyl', 'Trans',
       'Drivetrain', 'Vehicle_Class', 'Fuel_Type', 'Fuel_Barrels/Year',
       'Fuel_Cost/Year', 'CO2_Emission_Grams/Km', 'City_Km/Liter',
       'Highway_Km/Liter', 'Decade', 'Year_range'],
      dtype='object')

           City_Km/Liter
Trans
Manual          7.968348
Automatic       7.278292

Use `groupby` and `aggregate` with different aggregation measures for different columns:

In [157]:
cars.groupby("Trans").aggregate({"City_Km/Miles":"mean","Trans":"count"})

KeyError: "Column(s) ['City_Km/Miles'] do not exist"

           City_Km/Liter
Trans
Automatic       2.976000
Manual          2.550857

In [161]:
cars.groupby("Trans").aggregate({"City MPG":"mean"})

                                   City MPG
Trans
Auto (AV)                         35.000000
Auto (AV-S6)                      22.000000
Auto (AV-S8)                      20.000000
Auto(A1)                          41.000000
Auto(AM-S6)                       24.315217
Auto(AM-S7)                       17.746094
Auto(AM-S8)                       23.666667
Auto(AM-S9)                       21.000000
Auto(AM5)                         33.666667
Auto(AM6)                         23.909091
Auto(AM7)                         16.248408
Auto(AM8)                         22.400000
Auto(AV-S6)                       25.944828
Auto(AV-S7)                       27.952381
Auto(AV-S8)                       22.846154
Auto(L3)                          14.000000
Auto(L4)                          13.500000
Automatic (A1)                    34.000000
Automatic (A6)                    14.000000
Automatic (AM5)                   33.000000
Automatic (AM6)                   13.000000
Automatic (AV)                    21.750000
Automatic (AV-S6)                 23.666667
Automatic (S4)                    18.074236
Automatic (S5)                    17.087591
Automatic (S6)                    18.337514
Automatic (S7)                    16.804598
Automatic (S8)                    18.450000
Automatic (S9)                    19.923077
Automatic (variable gear ratios)  27.460741
Automatic 3-spd                   17.449750
Automatic 4-spd                   15.944261
Automatic 5-spd                   15.445417
Automatic 6-spd                   16.720670
Automatic 6spd                    21.000000
Automatic 7-spd                   17.117825
Automatic 8-spd                   16.576132
Automatic 9-spd                   20.077778
Manual 3-spd                      14.229730
Manual 4-spd                      16.871363
Manual 5 spd                      14.000000
Manual 5-spd                      19.242327
Manual 6-spd                      18.306232
Manual 7-spd                      18.220588
Manual(M7)                        14.000000

In [159]:
cars.columns

Index(['Brand', 'Model', 'Year', 'Engine_cc', 'Cyl', 'Trans', 'Drivetrain',
       'Class', 'Fuel_Type', 'Barrels_per_year', 'City MPG', 'Highway MPG',
       'Combined MPG', 'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')